* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2d3436;
  /* padding: 50px; */
}

.container {
  margin-top: 25px;
}

.post-meta {
  font-size: 0.8rem;
}

#blog-post {
  max-width: 50vw;
  align-items: center;
}


